# String

## Indexing

In [1]:
i = "gagan soni"

In [2]:
a = True
str(a)[0]

'T'

In [3]:
b = "45.5"
b[2]

'.'

In [4]:
i[2]

'g'

In [5]:
i[-5]

's'

##  Slicing

In [6]:
s = "ramakrishna"
s

'ramakrishna'

In [7]:
s[2:8:2] # there 2 is step

'mki'

In [8]:
s[-7:11]

'krishna'

In [9]:
s[-6:-9:-1]

'rka'

In [10]:
s[5:-8]

''

In [11]:
s[::-1] # step indexing

'anhsirkamar'

In [12]:
s[-5:]

'ishna'

In [13]:
s[-2:-6]

''

In [14]:
s[5:1:-1]

'rkam'

## string methods()

In [15]:
s = ' shiva rama krishna    '
s.upper()

' SHIVA RAMA KRISHNA    '

In [16]:
s.lower()

' shiva rama krishna    '

In [17]:
s.title() # it convert every string first later into uppercase

' Shiva Rama Krishna    '

In [18]:
s.capitalize() # it convert only first later in uppercase

' shiva rama krishna    '

In [19]:
s.strip() # it remove space

'shiva rama krishna'

In [20]:
s.lstrip() # left strip

'shiva rama krishna    '

In [21]:
s.rstrip() # right strip

' shiva rama krishna'

In [22]:
s.replace("rama","hare")

' shiva hare krishna    '

In [23]:
s.split() # split into multiple sting

['shiva', 'rama', 'krishna']

In [24]:
s2 =" Gagan "

In [25]:
s.index("r") # if substring not in the list it give error

7

In [26]:
s.find("krishna") # if substring not in the list it not give error

12

In [27]:
s.count('a') # return rama how many time repated

4

In [28]:
s.startswith("shiva")

False

In [29]:
s.endswith("shiva")

False

In [30]:
s.isalnum() # alpha numaric value in the sting

False

In [31]:
s.isdigit()

False

# list (mutable)

In [12]:
l =[] # empty list
type(l)

list

In [2]:
l = [34,34,True,34,(5,6),(3,5,6),[5,9],3.4,True,{7,8},6.8,"jhjh",{"ram":6}]

In [14]:
l.extend([4,5,6,7,8]) # add multiple items with advance data type

In [15]:
l

[4, 5, 6, 7, 8]

In [35]:
l.append([4]) # add only one element in the last of the list

In [18]:
l.insert(0,"rammamdmf") # add one item in the list with index

In [37]:
l.clear() # clear all items but not object

In [16]:
l.reverse()

In [19]:
l

['rammamdmf', 8, 7, 6, 5, 4]

In [21]:
l2 =[6,1.1,2,5,6,7,1,6.66,True,0,99,False]

In [22]:
l2.sort() # in the sorting not allowed nested list 
l2

[0, False, 1, True, 1.1, 2, 5, 6, 6, 6.66, 7, 99]

In [23]:
l.pop(2) # remove items with index

7

In [24]:
l

['rammamdmf', 8, 6, 5, 4]

In [32]:
lis  = [23,4,4,[3,[4,[5,4,4],5],4],4,] # access nasted list 
lis[3][2]

4

### shallo copy---- it change id

In [26]:
d = l.copy()
d

['rammamdmf', 8, 6, 5, 4]

In [27]:
id(d)

2256250969024

In [28]:
id(l)

2256236199104

### Deep copy ---  its not change id

In [29]:
ram = l
ram

['rammamdmf', 8, 6, 5, 4]

In [30]:
id(ram)

2256236199104

In [31]:
id(l)

2256236199104

# Tuple

In [ ]:
tup = (3,4.8,'888',3,{5},(6),[8,7,],9,True,'ram',{})
tup

In [ ]:
tup.count(3)

In [ ]:
tup.index('ram') # it return no of index

# SET------(mutable)

In [ ]:
empty_set = set()
empty_set

In [ ]:
s = {2,3.3,2,2,True,"hhjjhj",45,(2,5,5,6),777}
type(s)
s

## Set method

In [ ]:
s.add(88) # add one item in the set

In [ ]:
s.update((8,4,5)|[367,3,4,]|'hjhh') # add set,tup,str,list

In [ ]:
s.discard(99) # index based discard but if index out of range not give error

In [ ]:
s.remove() # based of item

In [ ]:
s.clear()

In [ ]:
s.copy()

In [ ]:
s.pop() # remove random item in the set

In [ ]:
s

### Mathmatical set operation

In [ ]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10,11}

In [ ]:
print(a|b) # union

In [ ]:
print(a&b)

In [ ]:
print(a-b) #Pehle set me jo elements hain, lekin doosre set me nahi hain, unka set return karta hai.

In [ ]:
print(a^b) # sementic difference- dono set ke uncomen element return karta hai

In [ ]:
print(a>=) # is superset

In [ ]:
print(a<=)  # is subset

In [ ]:
s.isdisjoint(c)

# Dictonary

In [ ]:
d = {} #empty dict
type(d)

In [10]:
dic = {
    "a": "Rahul",
    "b": 21,
    "c": {"Math": 85, "Science": 90, "English": 78},
    "d": ["Reading", "Cricket", "Music"],
    "e": ("Reading", "Cricket", "Music"),
    "f": False
}
type(dic)

dict

In [6]:
dic['d'][1] # indexing

'Cricket'

In [7]:
dic['d'][0:2] # slicing

['Reading', 'Cricket']

In [2]:
# convert of list fo tuple into dictonary
dic1 = dict([('ram', 'hari'),('hello','world')])
dic1

{'ram': 'hari', 'hello': 'world'}

### Dictornary mehtod

In [ ]:
dic.get()# access item with key name

In [ ]:
dic.items() # return items as list

In [ ]:
dic.keys() # return key

In [ ]:
dic.values() # return values

In [13]:
dic.update({"d": 73}) # add one itemns in dictonary

In [ ]:
del.dict()

In [ ]:
dic.copy()

## Operator

In [ ]:
result = (5 + 3 * 2 ** 2 - 4 / 2) * (10 - 4 * 3 + 2 ** 3 / 2) % 7 == 0 and 4 != 2 or 5 
result

### Assigment operator

In [ ]:
x = 3
x **= 2 # it means x = x **2
x

##### expression / condition return shuld be true or False

# if

In [ ]:
if 3>1:
    a = 3+4
    print(a)
print(a)

In [ ]:
if 3<1:
    a = 3+4
    print(a)
print(a)

# if-else

In [ ]:
waight = eval(input('enter your waight')) # eval use for convert str into int
if waight<100:
    name = input('enter your name')
    print("hay",name,"your waitht is ",waight)
else:
    print('your waight is more then 100')

In [ ]:
a,b,c,d = 2,2,3,3
if (a == b) and (c != d): 
    print("abc")
else:
    print("not equal")

In [39]:
num = 7
if num % 2 == 0: 
    print(num, "is Even")
else:
    print(num, "is Odd")

7 is Odd

In [ ]:
username = "nikhil"
password = "1234"

if username == "nikhil" and password == "1234":
    print("Login Successful!")
else:
    print("Invalid Credentials")

# if_elif_else

In [ ]:
day = input("enter  a day").strip().capitalize()
weakday =['Monday','Tuesday','Wednesday','Thusday','Friday']
weakend = ['Saturday','Sunday']
if day in weakday:
    print('its a working day')
elif day in weakday:
    print('it is a weakend')
else:
    print('Enter a valid day')

In [ ]:
marks = eval(input('enter your marks'))
if marks >90 :
    print('grade a ')
elif marks >=70:
    print("grade b")
else:
    print("grade f")

In [ ]:
num = eval(input('Enter a number'))
if num >0:
    print('it is possitive num')
elif num < 0:
    print('it is negative num')
else:
    print('it is zero')

# nasted if

In [ ]:
pin = 2474
balance = 50000
lang = eval(input(" please select your language: 1-eng, 2-hindi, 3-telgu"))
if lang == 1 or lang ==  2 or lang == 3 :
    ui_pin =eval(input("enter your pin"))
    if pin == ui_pin:
        withdraw = eval(input('enter money for widrawal'))
        if balance >= withdraw:
            print('successfull')
        else:
            print('insufficient balance')
    else:
        print('enter valid pin')
else:
    print('chose one of three language')

In [89]:
p = input("Enter your phone number: ")  
sum = 0

for i in range(len(p)):
    sum = sum + int(p[i])  

    if sum >= 10:
        s = str(sum)
        sum = int(s[0]) + int(s[1]) 

        if sum >= 10:
            s = str(sum)
            sum = int(s[0]) + int(s[1])

print('Final sum:', sum)

Enter your phone number:  343434343434

Final sum: 6

In [86]:
p = input("Enter your phone number")
sum = 0
for i in range(len(p)):
    sum = sum + C
    if sum >= 10:
        s = str(sum)
        t = int(s[0]) + int(s[1])
        if t >= 10:
            s = str(t)
            t = int(s[0]) +  int(s[1])
print('sum',t)

Enter your phone number 8787878

sum 8

# while loop

In [33]:
x = 1
while x <= 3:
    print("python")
    x = x +1

python
python
python

In [59]:
x = 1
sum = 0
while x <= 5:
    sum = x + sum
    print(sum)
    x = x +1
print("sum of the all values :",sum)

1
3
6
10
15
sum of the all values : 15

In [44]:
sum = 0
while True :
    ui = input("enter values ")
    print(sum)
    if ui == "#":
        break
    sum = sum + int(ui)
print("total pay of user :",sum)

enter values  23

0

enter values  3

23

enter values  3

26

enter values  #

29
total pay of user : 29

In [75]:
sum = 0 
while True:
    ui = input('enter the value')
    if ui == "#":
        break
    # print("values which is enter user")
    sum = sum+ int(ui)
print("total of all values",sum)

enter the value 2
enter the value 2
enter the value #

total of all values 4

In [79]:
x = 1
while x <= 10:
    print(x)
    x = x+1
    if x == 5:
        break
print("latest values of x is ",x)

1
2
3
4
latest values of x is  5

In [82]:
data = [100, None, 200, None, 300]
cleaned_data = []
i = 0
while i < len(data):
    if data[i] is not None:
        cleaned_data.append(data[i])
    i += 1
print(cleaned_data)

[100, 200, 300]

In [87]:
x = 0
while x < 5:
    x = x +1
    print("Hey")
    if x == 3:
        break
print("latest value of x is:",x)

Hey
Hey
Hey
latest value of x is: 3

In [17]:
i = 1
while i <= 10: # also this program use for the for loop 
    if i % 2 == 0:
        print(i, "is Even")
    else:
        print(i, "is Odd")
    i = i +1

1 is Odd
2 is Even
3 is Odd
4 is Even
5 is Odd
6 is Even
7 is Odd
8 is Even
9 is Odd
10 is Even

In [30]:
l = [3,3,4,5,9,5]
i = 0
while i < len(l):
    print(l[i])
    i = i+1
print("latest value of i is:",i)

3
3
4
5
9
5
latest value of i is: 6

In [11]:
l = [3,4,5,6,8,9,3]
l1 = []
i = 0
while i < 4:
    l1.append(l[i])
    i = i +1
print(l1)

[3, 4, 5, 6]

# for loop

In [35]:
a = ['a','b','c']
for i in range(len(a)):
    print(i)

0
1
2

In [34]:
a = ['a','b','c']
for i in a:
    print(i)

a
b
c

In [42]:
l = [3,4,5,6,7]
l2 = []
for i in l:
    if i == 3 :
        break
    l2.append([i])
print(l2)

[]

In [1]:
l = [10, 20, 30, 40, 50] 
sum = 0
for i in range(3):
    sum = sum + l[i] 
print(sum)

60

In [4]:
l = [2,3,4,5,6]
sum = 0
for  i in l:
    sum = sum + i
print("sum of list :",sum)

sum of list : 20

In [7]:
l =[34,5,6,76,7] # using for loop and its a backend code of the list
l1 = []
for i in range(3):
    l1.append(l[i])
print("New list :",l1)

New list : [34, 5, 6]

In [9]:
l[0:3] # easy way to print

[34, 5, 6]

In [6]:
l = [3,4,5,6,87,6]
l1 = []
for i in [3,4,-1,0]:
    l1.append(l[i])
print(l1)

[6, 87, 6, 3]

In [ ]:
# Q2 write a python code to generate a list of squre for the number between 1 to 10
l = [1,2,3,4,5]
squre = []
for i in l:
    x = i*i
    squre.append(x)
print(squre)

In [36]:
 """ Q1  Write a function that, take two list as input,marge two list into a single list,alternet element 
from each list and return the merge list """

a = ['a','b','c']
b = [1, 2, 3]
def alternate(list1,list2):
    temp = []
    for i in range(len(list1)):
        temp.append(list1[i])
        temp.append(list2[i])
    return temp
print(alternate(['a','b','c'],[1, 2, 3]))

['a', 1, 'b', 2, 'c', 3]

# nasted for

In [92]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i * j, end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [ ]:
for i in range(10):
    if i == 5:
        break
    print(i)

In [ ]:
for i in range(5):
    if i == 2:
        continue
    print(i)

In [ ]:
import warnings 
warnings.filterwarnings

In [ ]:
import pandas as pd 
import numpy as np

data = {"Name": ["Alice", "Bob", np.nan, "David"], "Salary": [50000, 60000, 45000, np.nan]}
df = pd.DataFrame(data)
df
# Filling missing values
for col in df.columns:
    df[col].fillna("Unknown" if df[col].dtype == object else df[col].mean(), inplace=True)
print(df)

# Function

### user define function

In [24]:
# arbitry arguments 
def greet(*n):
    for i in n :
        print("Hello",i)
greet(3,4,54)

Hello 3
Hello 4
Hello 54

In [8]:
# default arguments
def greet(name="Guest", age=25):
    print(f"Hello, {name}! You are {age} years old.")
greet()

Hello, Guest! You are 25 years old.

In [ ]:
# positional arguments 
def add_numbers(a, b):
    return a + b
result = add_numbers(5, 3)
print(result)

In [ ]:
# keyword arguments with def function
def display_info(name, age, city):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"City: {city}")
display_info(name="Alice", age=30, city="New York")
display_info(city="Los Angeles", age=25, name="Bob")

In [22]:
# define function with no arguments
def greet():
    print("Hello, welcome to the Python world!")
greet()

Hello, welcome to the Python world!

In [12]:
def add(a,b):
    return a*b

In [17]:
add(3,4)

12

In [57]:
def add_numbers(a, b):
    return a + b

result = add_numbers(5, 10)

In [58]:
print(result)

15

In [59]:
def check_age(age):
    if age >= 18:
        return "Adult"
    else:
        return "Not an adult"

print(check_age(20))  # Output: Adult

Adult

### module function

In [9]:
pwd

'C:\\Users\\gagan soni'

In [12]:
import module as md

In [13]:
md.mul(3,3)

9

In [14]:
from module import sum

In [15]:
sum(3,5)

8

In [56]:
import random
l = []
for i in range(5):
    l.append(random.randint(i,100))
print(l)

[40, 65, 58, 15, 18]

In [45]:
import math

print(math.sqrt(16))

4.0

# Number_system---

In [ ]:
num = 25 # number to other

In [ ]:
bin(num)

In [ ]:
oct(num)

In [ ]:
hex(num)

In [ ]:
binary_num = 1010 # binary to another

In [ ]:
hex(binary_num)

In [ ]:
oct(binary_num)

# swaping

In [ ]:
#1. using temp variable

In [ ]:
a = 3 
b = 5 
temp = a 
a = b 
b = temp

In [ ]:
a,b

In [ ]:
#2. using tuple packaging

In [ ]:
x = 8
y = 9

x,y= y,x

In [ ]:
~12

In [ ]:
12&34

In [ ]:
### import math module

In [ ]:
import math as m  # there math is module

In [ ]:
x = m.sqrt(25) # rood 
x

In [ ]:
print(m.floor(2.6))

In [ ]:
print(math.sqrt(25))      # Square root  5.0

In [ ]:
print(math.pow(2, 3))     # Power (2^3)  8.0

In [ ]:
print(math.factorial(5))  # Factorial (5!)  120

In [ ]:
print(math.fabs(-10))     # Absolute value  10.0